<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AXA Finance.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>7</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
				<key>dateExpires</key>
				<string>14/01/26</string>
				<key>type</key>
				<string>Cloud Managed iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>4.8.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BRYXBanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BSGridCollectionViewLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BSImagePicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>2.10.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BSImageView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>3.2.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CircleProgressBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>0.32.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaLumberjack.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>3.7.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Cosmos.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>18.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FGRoute.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FSPagerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FlexiblePageControl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>6.7.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ImageSlideshow.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>1.9.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>KVKCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>4.10.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>LTHRadioButton.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>4.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>3.17.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>QRCodeReader.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>10.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RealmSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>6.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxRelay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>6.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>6.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>5.12.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVGKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>4.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Swinject.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>UICheckbox_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>XLPagerTabStrip.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>9.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ZIPFoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>0.9.11</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>0.3.9011</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>575DD2E4CF8F51AC676508BB041A186EAA7A6BE1</string>
						<key>dateExpires</key>
						<string>14/01/26</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>youtube_ios_player_helper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NP56MPK3G6</string>
						<key>name</key>
						<string>AXA Services Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.6</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>NP56MPK3G6.id.co.axa.afiones</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Production</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.iCould.distributor.afione</string>
					<string>iCloud.distributor.portal.amfs</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudDocuments</string>
				</array>
				<key>com.apple.developer.networking.wifi-info</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>NP56MPK3G6</string>
				<key>com.apple.developer.ubiquity-container-identifiers</key>
				<array>
					<string>iCloud.iCould.distributor.afione</string>
					<string>iCloud.distributor.portal.amfs</string>
				</array>
				<key>com.apple.developer.ubiquity-kvstore-identifier</key>
				<string>NP56MPK3G6.id.co.axa.afiones</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>AXA Finance.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c53b538a-ba99-4db1-a77c-024b2ac1359a</string>
				<key>dateExpires</key>
				<string>17/01/24</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: id.co.axa.afiones</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>NP56MPK3G6</string>
				<key>name</key>
				<string>AXA Services Indonesia, PT</string>
			</dict>
			<key>versionNumber</key>
			<string>7.2.0</string>
		</dict>
	</array>
</dict>
</plist>
